/* General Body */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
header{
  
}
/* Game Container */
.game-container {
  background: rgba(255, 255, 255, 0.014);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  width: 380px;
  transition: 0.3s;
}

/* Info Section */
.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
}

/* Word Display */
#word {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
  color: #00ff40;
  text-shadow: 0 0 15px #798b12;
  animation: pop 0.4s ease-out;
}

/* Input */
#text {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

/* Selectors */
.selectors {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

select {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #00eaff;
  color: black;
  transition: 0.2s;
}

select:hover {
  transform: scale(1.05);
}

/* Buttons */
button {
  background: #0cdbee;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 8px;
}

button:hover {
  transform: scale(1.1);
}

/* Overlays */
.hide { display: none; }

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* Countdown Animation */
.low-time {
  color: #ff3b3b !important;
  font-weight: bold;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  from { transform: scale(1); text-shadow: 0 0 10px #ff3b3b; }
  to { transform: scale(1.4); text-shadow: 0 0 22px #ff0000; }
}

/* Animation */
@keyframes pop {
  0% { transform: scale(0.6); }
  100% { transform: scale(1); }
}
